* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #50b3a2;
    --secondary-color: #2980b9;
    --text-color: #333;
    --background-color: #f4f4f4;
    --font-family: Arial, sans-serif;
}

body {
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
}

nav {
    background: var(--primary-color);
    color: #fff;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo img {
    width: 50px;
}

.index a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

nav ul a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
}

nav ul a:hover {
    text-decoration: underline;
}

.main {
    text-align: center;
    padding: 50px 20px;
}

.info {
    background: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.info h1 {
    color: var(--primary-color);
    margin-top: 0;
}

.info h3 {
    font-size: 1.5em;
}

.info .p {
    margin-bottom: 30px;
}

.info2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.info2 p {
    margin: 5px 0;
}

.info2 img {
    width: 100px;
}

footer {
    background-color:var(--primary-color);
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer .footer-content p {
    margin: 0;
    font-size: 14px;
}